.hero {
  padding-top: 188px;
  padding-bottom: 250px;
  padding-left: 120px;
  padding-right: 720px;
}

.hero-title {
  width: 600px;
}

.hero-title h1 {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  color: #292f36;
  padding-bottom: 19px;
}

.hero-title p {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #4d5053;
  padding-bottom: 35px;
}

.hero-title button {
  border: 2px solid #292f36;
  background-color: #292f36;
  padding-top: 22px;
  border-radius: 18px;
  padding-bottom: 22px;
  padding-left: 34px;
  padding-right: 34px;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  cursor: pointer;
}